:root {
  --input-border-color: #ccc;
  --input-border-hover-color: #6e57e0;
  --input-border-error-color: #c23e3e;

  --button-bg: #533fce;
  --button-bg-hv: #664dff;

  --error-fg: #a82525;
  --error-bg: #f1d4d4;

  --success-fg: #0c5626;
  --sucess-bg: #a5efbf;
}

.container {
  padding: 1rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

.form {
  background-color: #ededed;
  display: flex;
  margin: 0 auto;
  width: calc(100vw - 1rem);
  border-radius: 0.2rem;
  padding: 0.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input {
  padding-left: 0.5rem;
  height: 2rem;
  border: 0.1rem solid var(--input-border-color);
  border-radius: 0.2rem;
  outline: none;
}

.input:hover,
.input:focus {
  border: 0.1rem solid var(--input-border-hover-color)
}

.button {
  background-color: var(--button-bg);
  color: white;
  border: 0.1rem solid transparent;
  height: 2.5rem;
  cursor: pointer;
  margin: 0 auto;
  padding-inline: 1rem;
}

.button:hover {
  background-color: var(--button-bg-hv);
}

.error {
  padding: 1rem;
  background-color: var(--error-bg);
  color: var(--error-fg);
  text-align: justify;
}

.error .close:hover {
  color: black;
  cursor: pointer;
  transition: 0.5s all;
}

.success {
  padding: 1rem;
  text-align: justify;
  background-color: var(--sucess-bg);
  color: var(--success-fg)
}

.success .close:hover {
  color: var(--success-fg);
  cursor: pointer;
  transition: 0.5s all;
}

.avatar {
  width: 100%;
  height: 100%;
}

.avatar-preview {
  border: 0.1rem solid var(--input-border-color);
  display: none;
  aspect-ratio: 16 / 9;
}

.avatar-preview.show {
  display: block;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 25%;
  }
}